@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Noto Serif','Noto Serif JP',  serif;
  letter-spacing: 0.05em;
  color: #171717;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  text-align: center;
}

.wid_container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wid_container {
    max-width: 345px;
  }
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    max-width: 345px;
  }
}

.our_content {
  color: #171717;
  font-size: 9.0rem;
  opacity: .05;
}

@media (max-width: 768px) {
  .our_content {
    font-size: 4rem;
  }
}

.contents_title {
  font-size: 6.0rem;
  letter-spacing: 0.1em;
  color: #fff;
  font-weight: 700;
  font-style: italic;
}

@media (max-width: 768px) {
  .contents_title {
    font-size: 3rem;
  }
}

.contents_title::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 5px;
  background: #fff;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .contents_title::after {
    width: 90px;
  }
}

.content_button {
  width: 235px;
  background: #F7D43F;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 6px  #1B1310;
          box-shadow: 0 0 6px  #1B1310;
  margin: 0 auto;
  text-align: center;
  outline: none;
}

.content_button:hover {
  opacity: 0.7;
}

.content_button a {
  line-height: 60px;
  font-size: 1.6rem;
  font-weight: 700;
}

.content_button a:visited {
  color: #1B1310;
}

header {
  width: 100%;
  padding: 19px 30px;
  position: absolute;
  top: 0;
  z-index: 10;
}

@media (max-width: 768px) {
  header {
    padding: 30px 0;
  }
}

header .nav_container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  header .nav_container {
    margin: 0 4%;
  }
}

header .nav_container .nav_icon a {
  font-size: 2.6rem;
  line-height: calc(36 / 26);
  font-style: italic;
  font-weight: bold;
  color: #fff;
}

@media (max-width: 768px) {
  header .nav_container .nav_contents {
    position: fixed;
    top: 0;
    left: 0;
    background: #282F35;
    color: #fff;
    width: 100vw;
    height: 100vh;
  }
}

header .nav_container .nav_contents .nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  header .nav_container .nav_contents .nav_items {
    display: block;
    width: 70px;
    margin: 0 auto;
    padding-top: 210px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
            transform: translate(-40%, -50%);
  }
}

header .nav_container .nav_contents .nav_items .nav_item {
  margin-left: 30px;
}

@media (max-width: 768px) {
  header .nav_container .nav_contents .nav_items .nav_item {
    margin: 0 0 30px;
  }
}

header .nav_container .nav_contents .nav_items .nav_item a {
  font-size: 1.6rem;
  line-height: calc(22 / 16);
  font-style: italic;
  font-weight: bold;
  color: #fff;
}

header .nav_container .openbtn {
  display: none;
  position: relative;
  /*ボタン内側の基点となるためrelativeを指定*/
  cursor: pointer;
  width: 30px;
  height: 20px;
  border-radius: 3px;
  line-height: 100%;
}

@media (max-width: 768px) {
  header .nav_container .openbtn {
    display: block;
  }
}

header .nav_container .openbtn span {
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
  /*アニメーションの設定*/
  position: absolute;
  height: 3px;
  border-radius: 2px;
  background: #fff;
  width: 30px;
}

header .nav_container .openbtn span:nth-of-type(1) {
  top: 0px;
}

header .nav_container .openbtn span:nth-of-type(2) {
  top: 8px;
}

header .nav_container .openbtn span:nth-of-type(3) {
  top: 16px;
}

header .nav_container .openbtn.active span:nth-of-type(1) {
  top: 18px;
  right: 18px;
  -webkit-transform: translateY(6px) rotate(-45deg);
          transform: translateY(6px) rotate(-45deg);
}

header .nav_container .openbtn.active span:nth-of-type(2) {
  opacity: 0;
  /*真ん中の線は透過*/
}

header .nav_container .openbtn.active span:nth-of-type(3) {
  top: 30px;
  right: 18px;
  -webkit-transform: translateY(-6px) rotate(45deg);
          transform: translateY(-6px) rotate(45deg);
}

.noscroll {
  overflow: hidden;
}

header.sticky {
  position: fixed;
  top: 0;
  background: #282f35;
  padding: 30px 0;
}

@media (max-width: 768px) {
  header.sticky {
    width: 100vw;
  }
}

.wrapper .fv_txt {
  position: absolute;
  left: 120px;
  bottom: 172px;
  color: #fff;
}

@media (max-width: 768px) {
  .wrapper .fv_txt {
    white-space: nowrap;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.wrapper .fv_txt h1 {
  font-size: 7.0rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .wrapper .fv_txt h1 {
    font-size: 3.7rem;
  }
}

.wrapper .fv_txt h2 {
  font-size: 4.0rem;
  margin-top: 23px;
  text-align: center;
}

@media (max-width: 768px) {
  .wrapper .fv_txt h2 {
    font-size: 3rem;
    margin-top: 53px;
  }
}

.wrapper .fv_txt h2 br {
  display: none;
}

@media (max-width: 768px) {
  .wrapper .fv_txt h2 br {
    display: inline-block;
  }
}

.concept {
  padding-top: 100px;
}

.concept .wid_container {
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .concept .wid_container {
    margin-bottom: 40px;
  }
}

.concept .wid_container .container .concept_title {
  letter-spacing: 0.05em;
  color: #282F35;
}

.concept .wid_container .container .concept_title::after {
  background: #282F35;
}

.concept .wid_container .container h4 {
  margin-top: 70px;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.05em;
  font-weight: bold;
}

@media (max-width: 768px) {
  .concept .wid_container .container h4 {
    margin-top: 51px;
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .concept .wid_container .container h4 br {
    display: none;
  }
}

.concept .wid_container .container .row {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .concept .wid_container .container .row {
    margin-top: 31px;
    display: block;
  }
}

.concept .wid_container .container .row .concept_txt {
  max-width: 440px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 768px) {
  .concept .wid_container .container .row .concept_txt {
    width: 100%;
    margin-bottom: 30px;
  }
}

.concept .wid_container .container .row .concept_txt p {
  font-size: 1.6rem;
  font-weight: bold;
}

.concept .wid_container .container .row .concept_img {
  max-width: 440px;
  max-height: 240px;
}

@media (max-width: 768px) {
  .concept .wid_container .container .row .concept_img {
    width: 100%;
  }
}

.concept .wid_container .container .row .concept_img img {
  width: 100%;
  height: 150px;
}

.concept .wid_container .our_content {
  margin-top: 70px;
  text-align: right;
}

@media (max-width: 768px) {
  .concept .wid_container .our_content {
    margin-top: 40px;
  }
}

.works {
  background-image: url("../img/works-bgi@2x.jpg");
  background-position: center;
  background-size: cover;
}

.works .wid_container {
  padding-top: 104px;
  padding-bottom: 70px;
}

@media (max-width: 768px) {
  .works .wid_container {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}

.works .wid_container .contents_title {
  text-align: right;
}

.works .wid_container .container {
  margin-top: 80px;
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .works .wid_container .container {
    display: block;
    margin-top: 50px;
  }
}

.works .wid_container .container .col-4:nth-of-type(2) {
  margin: 0 20px;
}

@media (max-width: 768px) {
  .works .wid_container .container .col-4:nth-of-type(2) {
    margin: 30px 0;
  }
}

.works .wid_container .container .col-4 img {
  width: 100%;
}

.works .wid_container .container .col-4 .col_txt {
  background: #fff;
  padding: 25px 20px;
}

.works .wid_container .container .col-4 .col_txt p {
  font-size: 1.6rem;
  font-weight: 500;
}

.works .wid_container .our_content {
  margin-top: 70px;
  text-align: left;
  color: #fff;
}

@media (max-width: 768px) {
  .works .wid_container .our_content {
    margin-top: 40px;
  }
}

.service {
  padding-top: 100px;
  margin-bottom: 70px;
}

@media (max-width: 768px) {
  .service {
    margin-bottom: 64px;
  }
}

.service .container .contents_title {
  color: #282F35;
}

.service .container .contents_title::after {
  background: #282f35;
}

.service .service_container {
  margin-top: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .service .service_container {
    display: block;
  }
}

.service .service_container .col-4 {
  width: 33.3%;
  height: 320px;
  position: relative;
}

@media (max-width: 768px) {
  .service .service_container .col-4 {
    width: 100%;
    margin-bottom: 30px;
    background-position: center;
    background-size: cover;
  }
}

.service .service_container .col-4:hover::before {
  opacity: 0.7;
}

.service .service_container .col-4::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: ' ';
  background-color: #171717;
  opacity: 0;
}

.service .service_container .col-4:nth-of-type(1) {
  background-image: url("../img/service-img01@2x.jpg");
}

.service .service_container .col-4:nth-of-type(2) {
  background-image: url("../img/service-img02@2x.jpg");
}

.service .service_container .col-4:nth-of-type(3) {
  background-image: url("../img/sevice-img03@2x.jpg");
}

.service .service_container .col-4 a {
  display: inline-block;
  font-size: 4rem;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #fff;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .service .service_container .col-4 a {
    font-size: 2rem;
  }
}

.service .wid_container .our_content {
  margin-top: 70px;
  text-align: right;
}

@media (max-width: 768px) {
  .service .wid_container .our_content {
    margin-top: 40px;
  }
}

.contact {
  background-image: url("../img/contact-bgi@2x.jpg");
  padding-top: 109px;
  padding-bottom: 70px;
}

@media (max-width: 768px) {
  .contact {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}

.contact .wid_container h1 {
  text-align: right;
}

.contact .wid_container p {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.05em;
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: center;
}

@media (max-width: 768px) {
  .contact .wid_container p {
    margin-bottom: 30px;
  }
}

.contact .wid_container .our_content {
  margin-top: 70px;
  color: #fff;
}

@media (max-width: 768px) {
  .contact .wid_container .our_content {
    margin-top: 40px;
  }
}

footer {
  text-align: center;
}

footer p {
  color: #282F35;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 30px 0;
}
/*# sourceMappingURL=style.css.map */